
:root {
    --navBg: #DCF2F1;
    --first-color: #7AB2B2;
    --second-color: #135D66;
    --third-color: #003C43;
    --main-font: 'Kanit', sans-serif;
}
.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    transition: 0.3s ease-in;
}
.card-box:hover{
    background:var(--navBg) !important;
    border-radius:20px;
}
.social-links li a {
    border-radius: 50%;
    color: var(--third-color);
    display: inline-block;
    height: 30px;
    line-height: 27px;
    border: 2px solid var(--second-color);
    text-align: center;
    width: 30px
}

    .social-links li a:hover {
        color: white !important;
        background:var(--second-color) !important;
    }

.thumb-lg {
    height: 88px;
    width: 88px;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    width: 90px;
    height: 90px;
}

.text-pink {
    color: var(--second-color) !important;
}

.btn-rounded {
    border-radius: 2em;
}

.text-muted {
    color: #98a6ad !important;
}

h4 {
    line-height: 22px;
    font-size: 18px;
}
.btn{
    background-color: var(--second-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: var(--main-font);
    transition: 0.3s;
}
.btn:hover{
    background-color: transparent;
    color: var(--second-color);
}
.title {
    margin-top:30px;
    margin-bottom:20px;
    color: var(--second-color) !important;
    font-weight: 700 !important;
    font-family: var(--main-font) !important;
}