@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --navBg: #DCF2F1;
    --first-color: #7AB2B2;
    --second-color: #135D66;
    --third-color: #003C43;
    --main-font: 'Kanit', sans-serif;
}
.container {
    max-width: 1170px;
}

.avatar-xxl {
    height: 7rem;
    width: 7rem;
}

.card {
    margin-bottom: 20px;
    -webkit-box-shadow: 0 2px 3px #eaedf2;
    box-shadow: 0 2px 3px #eaedf2;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.font-size-16 {
    font-size: 16px !important;
}

.avatar-title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #038edc;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.bg-soft-primary {
    background-color: rgba(3,142,220,.15) !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.nav-tabs-custom .nav-item .nav-link.active {
    color: var(--second-color);
}

.nav-tabs-custom .nav-item .nav-link {
    border: none;
}

    .nav-tabs-custom .nav-item .nav-link.active {
        color: var(--second-color);
    }

.avatar-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 12px;
}

.border-end {
    border-right: 1px solid #eff0f2 !important;
}

.d-inline-block {
    display: inline-block !important;
}

.badge-soft-danger {
    color: #f34e4e;
    background-color: rgba(243,78,78,.1);
}

.badge-soft-warning {
    color: #f7cc53;
    background-color: rgba(247,204,83,.1);
}

.badge-soft-success {
    color: #51d28c;
    background-color: rgba(81,210,140,.1);
}

.avatar-group .avatar-group-item {
    margin-left: -14px;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.avatar-sm {
    height: 2rem;
    width: 2rem;
}

.nav-tabs-custom .nav-item {
    position: relative;
    color: #343a40;
}

    .nav-tabs-custom .nav-item .nav-link.active:after {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .nav-tabs-custom .nav-item .nav-link::after {
        content: "";
        background: var(--second-color);
        height: 2px;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -2px;
        -webkit-transition: all 250ms ease 0s;
        transition: all 250ms ease 0s;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

.badge-soft-secondary {
    color: #74788d;
    background-color: rgba(116,120,141,.1);
}

.badge-soft-secondary {
    color: #74788d;
}

.work-activity {
    position: relative;
    color: #74788d;
    padding-left: 5.5rem
}

    .work-activity::before {
        content: "";
        position: absolute;
        height: 100%;
        top: 0;
        left: 66px;
        border-left: 1px solid rgba(3,142,220,.25)
    }

    .work-activity .work-item {
        position: relative;
        border-bottom: 2px dashed #eff0f2;
        margin-bottom: 14px
    }

        .work-activity .work-item:last-of-type {
            padding-bottom: 0;
            margin-bottom: 0;
            border: none
        }

        .work-activity .work-item::after, .work-activity .work-item::before {
            position: absolute;
            display: block
        }

        .work-activity .work-item::before {
            content: attr(data-date);
            left: -157px;
            top: -3px;
            text-align: right;
            font-weight: 500;
            color: var(--second-color);
            font-size: 12px;
            min-width: 120px
        }

        .work-activity .work-item::after {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            left: -26px;
            top: 3px;
            background-color: #fff;
            border: 2px solid var(--second-color);
        }

.hideTab {
    display: none !important;
}

.showTab {
    display: block;
}

.cardTabs {
    display: none;
}
.name {
    font-family: var(--main-font) !important;
    color: var(--second-color) !important;
    font-weight: 500 !important;
    margin-top:10px;
}
.designation {
    font-family: var(--main-font) !important;
    color: var(--second-color) !important;
    font-weight: 300 !important;
    font-size:18px;
    margin-bottom:20px;
}
.card-title{
    color:var(--second-color);
    font-family:var(--main-font);
    font-weight:500;
}
.row .card .card-body .table-responsive .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    color: black;
    margin-right: 10px !important;
    transition: 0.4s;
}
.social-icon:hover {
    color: var(--second-color) !important;
}
.paragraph i{
    color:var(--second-color);
}
.lh-base{
    color:var(--second-color);
    font-family:var(--main-font);
    font-weight:500;
}
.work-item p{
    font-family:var(--main-font);
    font-weight:300;
}
.card.projectCard {
    background: var(--navBg) !important;
    border:none;
    font-family:var(--main-font);
}

/*Review CSS*/

#testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.testimonial-heading {
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .testimonial-heading span {
        font-size: 1.3rem;
        color: #252525;
        margin-bottom: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

.testimonial-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonial-box {
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: var(--navBg);
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

    .profile-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

    .name-user strong {
        color: #3d3d3d;
        font-size: 1.1rem;
        letter-spacing: 0.5px;
    }

    .name-user span {
        color: #979797;
        font-size: 0.8rem;
    }

.reviews {
    color: #f9d71c;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p {
    font-size: 0.9rem;
    color: #4b4b4b;
}

.testimonial-box:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

@media(max-width:1060px) {
    .testimonial-box {
        width: 45%;
        padding: 10px;
    }
}

@media(max-width:790px) {
    .testimonial-box {
        width: 100%;
    }

    .testimonial-heading h1 {
        font-size: 1.4rem;
    }
}

@media(max-width:340px) {
    .box-top {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .reviews {
        margin-top: 10px;
    }
}

::selection {
    color: #ffffff;
    background-color: #252525;
}


/*====================================================*/

.custom-select {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}

.select-box {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 10px;
    cursor: pointer;
}

.selected-options {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
}

.tag {
    background-color: #f2f2f2;
    color: #000;
    border-radius: 5px;
    margin-right: 5px;
    padding: 6px 14px;
    display: flex;
    align-items: center;
}

.remove-tag {
    margin-left: 6px;
    cursor: pointer;
}

.arrow {
    margin: 0 10px;
}

.fa-angle-down {
    color: #404040;
    font-size: 30px;
}

.options {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-top: none;
    max-height: 225px;
    overflow-y: auto;
    z-index: 1;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

.open .options {
    display: block;
}

.option-search-tags {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    padding: 8px 0px;
    margin: 8px;
}

.search-tags {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 14px;
}

.tags {
    padding: 5px;
    border: 1px solid rgb(110, 110, 110);
    margin-right: 5px;
}

.clear {
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 0;
    color: #000;
    top: 26px;
    left: auto;
    right: 15px;
}

.option {
    padding: 12px;
    cursor: pointer;
}

    .option.active {
        color: #000;
        background-color: #f2f2f2;
        border-bottom: 1px solid #eaeaea;
    }

    .tag:hover, .option:hover {
        background-color: #eaeaea;
    }

.no-result-message {
    padding: 0px 0px 12px 12px;
}

.error {
    color: #ff1a2a;
    margin-top: 8px;
}

.btn_submit {
    padding: 17px 24px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

    .btn_submit:hover {
        background-color: #4caf50;
    }

.placeholder {
    background-color: transparent !important;
}
.logBtn {
    background: var(--second-color) !important;
    border: 1px solid var(--second-color) !important;
    color: white !important;
    transition: all 0.5s;
    font-family: var(--main-font) !important;
}

    .logBtn:hover {
        background: transparent !important;
        color: black !important;
    }