
/* Additional styles specific to ProjectDetails */
:root {
    --navBg: #DCF2F1;
    --first-color: #7AB2B2;
    --second-color: #135D66;
    --third-color: #003C43;
    --main-font: 'Kanit', sans-serif;
}

.description h4 {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 24px;
    color:var(--second-color);
}
.jobSummary h4 {
    font-family: var(--main-font) !important;
    color: var(--second-color) !important;
    font-weight: 500 !important;
}
.jobSummary p{
    font-family:var(--main-font);
    font-weight:300;
}
.jobSummary i{
    color:var(--second-color) !important;
}
.jobHeading h3{
    font-family:var(--main-font);
    color:var(--second-color);
    font-weight:500;
}
.jobHeading span {
    font-family: var(--main-font);
    font-weight: 300;
}
.jobHeading span i{
    color:var(--second-color);
}
.application h4{
    font-family:var(--main-font) !important;
    font-weight:400 !important;
    color:var(--second-color) !important;
}
.form-control{
    border:1px solid var(--second-color) !important;
    font-family:var(--main-font);
    font-weight:300;
}
.jobSummary, .companyDetail {
    background: var(--navBg);
    border-radius: 20px;
}
.companyDetail{
    font-family:var(--main-font);
}
.companyDetail h4{
    font-weight:500;
    font-size:24px;
    color:var(--second-color);
}
.applyBtn{
    background:var(--second-color);
    color:white;
    padding:10px;
    font-family:var(--main-font);
    border:none;
    border-radius:30px;
}
.viewApply {
    background:var(--second-color) !important;
    border:none;
    color:white;
    font-family:var(--main-font);
    transition:0.4s;
}

.viewApply:hover{
    background:transparent !important;
    border: 1px solid var(--second-color);
    color:black;
}

.companyDetail p {
    font-weight: 300;
}
.successMsg {
    background: var(--navBg);
    font-family: var(--main-font);
}

    .successMsg li {
        list-style-type: none;
        text-align: center;
        padding: 10px;
        font-size: 16px;
    }
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .project-details {
        padding: 15px;
        margin: 10px 0;
    }
}


