@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/*Variables*/
:root {
    --navBg: #DCF2F1;
    --first-color: #7AB2B2;
    --second-color: #135D66;
    --third-color: #003C43;
    --main-font: 'Kanit', sans-serif;
}

a{
    text-decoration:none !important;
}
/**Navbar CSS*/
.navbar {
    background: var(--navBg) !important;
}

.navlogo {
    width: 100px;
    height: 50px;
}

.navhomelink {
    margin-right: 20px;
}

.navbar-brand, .nav-link {
    color: var(--second-color) !important;
    transition: 0.5s;
}

.nav-link {
    font-family: var(--main-font) !important;
    font-weight: 400;
}

.navbar-brand {
    font-family: var(--main-font) !important;
    font-weight: 600;
}

.nav-link:hover {
    transition: 0.4s;
    color: var(--third-color) !important;
}

.navLogin, .navSignup {
    width: 80px;
    height: 35px;
    background: var(--third-color);
    border-radius: 25px;
    text-align: center;
    padding-top: 5px;
    margin-right: 10px;
    align-items: center;
    text-decoration: none;
    color: snow;
    transition: 0.5s;
    font-family: var(--main-font);
    font-weight: 400;
}

.navLogin {
    background: transparent;
    border: 1px solid var(--third-color);
    color: var(--second-color);
}

    .navLogin:hover {
        background: var(--third-color);
        color: white;
    }

.navSignup:hover {
    background: transparent;
    border: 1px solid var(--third-color);
    color: var(--second-color);
}

.nav-search {
    border-radius: 20px !important;
    width: 260px;
    background: transparent !important;
    border: 1px solid var(--second-color);
}
@media screen and (max-width:576px) {
    .navLogin, .navSignup {
        width: 80px;
        height: 35px;
        padding: 5px 10px;
        text-align: center;
        padding-top: 5px;
    }
    .nav-search {
        margin-bottom: 20px;
    }

    .navBtns {
        margin-bottom: 20px;
    }
    .search-bar{
        margin-bottom:20px;
        width:340px;
    } 
}
.navbar-toggler {
    border: 0 !important;
}

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none !important;
        box-shadow: none !important;
        border: 0 !important;
    }

/* Lines of the Toggler */
.toggler-icon {
    width: 30px;
    height: 3px;
    background-color: var(--third-color) !important;
    display: block;
    transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar {
    margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
    background-color: #777777;
}


/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
    color: var(--default-color);
    background-color: var(--background-color);
    font-size: 14px;
    padding-bottom: 50px;
    position: relative;
}

    .footer .footer-newsletter {
        background-color: var(--navBg);
        padding: 50px 0;
    }

        .footer .footer-newsletter h4 {
            font-size: 24px;
            font-family: var(--main-font);
            font-weight: 500;
        }
        .footer .footer-newsletter p{
            font-family: var(--main-font);
            font-weight: 400;
            color: black;
        }

        .footer .footer-newsletter .newsletter-form {
            margin-top: 30px;
            padding: 6px 8px;
            position: relative;
            display: flex;
            transition: 0.3s;
            border-radius: 50px;
            justify-content: space-around
        }

            .footer .footer-newsletter .newsletter-form:focus-within {
                border-color: var(--accent-color);
            }

            .footer .footer-newsletter .newsletter-form input[type=email] {
                border: 0;
                padding: 10px;
                width: 100%;
                background-color: white;
                border-radius:30px;
                color: var(--default-color);
                margin-right:20px;
            }

                .footer .footer-newsletter .newsletter-form input[type=email]:focus-visible {
                    outline: none;
                }

            .footer .footer-newsletter .newsletter-form input[type=submit] {
                border: 0;
                font-size: 16px;
                padding: 0 20px;
                margin: 0px 0px 0px 0;
                background: var(--second-color);
                color: white;
                transition: 0.3s;
                border-radius: 50px;
            }

                .footer .footer-newsletter .newsletter-form input[type=submit]:hover {
                    background: transparent;
                    border:solid 1px var(--second-color);
                }

        .footer .footer-newsletter .error-message {
            display: none;
            background: #df1529;
            color: #ffffff;
            text-align: left;
            padding: 15px;
            margin-top: 10px;
            font-weight: 600;
            border-radius: 4px;
        }

        .footer .footer-newsletter .sent-message {
            display: none;
            color: #ffffff;
            background: #059652;
            text-align: center;
            padding: 15px;
            margin-top: 10px;
            font-weight: 600;
            border-radius: 4px;
        }

        .footer .footer-newsletter .loading {
            display: none;
            background: var(--background-color);
            text-align: center;
            padding: 15px;
            margin-top: 10px;
        }

            .footer .footer-newsletter .loading:before {
                content: "";
                display: inline-block;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                margin: 0 10px -6px 0;
                border: 3px solid var(--accent-color);
                border-top-color: var(--background-color);
                animation: subscription-loading 1s linear infinite;
            }

@keyframes subscription-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.footer .footer-top {
    font-family: var(--main-font);
    padding-top: 50px;
}

.footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    color: black;
    margin-right: 10px;
    transition: 0.3s;
}

    .footer .social-links a:hover {
        color: var(--second-color);
    }

.footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}

.footer .footer-links {
    margin-bottom: 30px;
}

    .footer .footer-links ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .footer .footer-links ul i {
            margin-right: 3px;
            font-size: 12px;
            line-height: 0;
            color: var(--accent-color);
        }

        .footer .footer-links ul li {
            padding: 10px 0;
            display: flex;
            align-items: center;
        }

            .footer .footer-links ul li:first-child {
                padding-top: 0;
            }

        .footer .footer-links ul a {
            font-family: var(--main-font);
            font-weight: 300;
            display: inline-block;
            color: black;
            line-height: 1;
        }

            .footer .footer-links ul a:hover {
                color: var(--second-color);
            }

.footer .footer-about a {
    color: var(--heading-color);
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--heading-font);
}

.footer .footer-contact p {
    margin-bottom: 5px;
}

.footer .copyright {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid  var(--first-color);
}

    .footer .copyright p {
        margin-bottom: 0;
    }

.footer .credits {
    margin-top: 6px;
    font-size: 13px;
}


/*--------------------------Catagory------------------------------------*/
