@{
    ViewBag.Title = "About";
    ViewBag.Subtitle = "Who are W?";
}
<link rel="stylesheet" href="~/Content/About.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Start service Area -->
<section class="service-area section-gap" id="service">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 pb-40 header-text">
                <h1>Why Choose Us</h1>
                <p>
                    Who are in extremely love with eco friendly system.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4>Access Top Talent</h4>
                    <p>
                        AllyHub offers a curated pool of skilled developers specializing in various technologies, ensuring that you find the right talent for your project needs
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4>Efficient Project Management</h4>
                    <p>
                        Our platform provides integrated tools and real-time communication features that streamline project management, making collaboration smooth and efficient
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4>Secure Transactions</h4>
                    <p>
                        We prioritize your financial security with a reliable payment gateway, ensuring all transactions are safe and secure
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4>Diverse Project Opportunities</h4>
                    <p>
                        Whether you're a developer looking for new challenges or a client with unique project needs, AllyHub connects you with a wide range of projects and opportunities
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4>Career Growth</h4>
                    <p>
                        Developers can enhance their portfolios and build their reputations by collaborating with reputable clients, while clients benefit from working with proven, skilled professionals
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4>Supportive Community</h4>
                    <p>
                        Join a vibrant community of like-minded professionals, gain insights from industry experts, and receive support that helps you succeed in your projects and career
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End service Area -->
<!-- Start feature Area -->
<section class="feature-area">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-3 feat-img">
                <img class="img-fluid" src="~/Images/f1.jpg" alt="">
            </div>
            <div class="col-lg-3 no-padding feat-txt">
                <h6 class="text-uppercase">Talent & Opportunity</h6>
                <h1>Who we are</h1>
                <p>
                    AllyHub is a platform dedicated to connecting clients with top-tier developers, fostering collaboration and success.
                </p>
            </div>
            <div class="col-lg-3 feat-img no-padding">
                <img class="img-fluid" src="~/Images/f2.jpg" alt="">
            </div>
            <div class="col-lg-3 no-padding feat-txt">
                <h6 class="text-uppercase">Empowering Collaboration</h6>
                <h1>What we do</h1>
                <p>
                    Access a pool of skilled developers, simplify hiring, and ensure secure transactions , discovering exciting projects and growing up career.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End feature Area -->
<!-- Start team Area --
<section class="team-area section-gap" id="team">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="teamTitle">Experienced Mentor Team</h1>
                    <p class="teamSubtitle">Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="~/Images/Afia Fahmida.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text text-center memberInfo">
                    <h4>Afia Fahmida</h4>
                    <p>ID : 20210104032</p>
                </div>
            </div>
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="~/Images/Ashik.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text text-center memberInfo">
                    <h4>Ashikul Islam</h4>
                    <p>ID : 20210104040</p>
                </div>
            </div>
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="~/Images/Zenun.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text text-center memberInfo">
                    <h4>Zenun Chowdhury</h4>
                    <p>ID : 20210104047</p>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!-- End team Area -->