
@{
    ViewBag.Title = "ChangePassword";
}


@model ALlyHub.Models.ProfileModel

<link rel="stylesheet" href="~/Content/ForgotPassword.css" />
<div class="row forgotRow">
    <h1>Change Password</h1>
    <h6 class="information-text">Enter your new Password</h6>
    @using (Html.BeginForm("Changepass", "Home", FormMethod.Post))
    {
        <div class="form-group">

            @Html.LabelFor(m => m.UserPassword, "New Password")
            @Html.PasswordFor(m => m.UserPassword, new { @class = "form-control", placeholder = "Enter New Password", @id = "password" })
            <button type="submit" class="btn btn-primary">Change</button>
        </div>
    }
</div>