
@{
    ViewBag.Title = "Forgot Password";
    ViewBag.Subtitle = "Reset Your Password";
}
    @model ALlyHub.Models.ProfileModel
    <link rel="stylesheet" href="~/Content/ForgotPassword.css" />

    <div class="row forgotRow">
        <h1>Forgot Password</h1>
        <h6 class="information-text">Enter your registered email to reset your password.</h6>
        <div class="form-group">
            @using (Html.BeginForm("SendOtp", "Home", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.UserEmail, "Email")
                    @Html.TextBoxFor(m => m.UserEmail, new { @class = "form-control", placeholder = "Enter your email", @id = "user_email", type = "email" })
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </div>
            }

        </div>
        <!------ <div class="footer">
             <h5>New here? <a href="#">Sign Up</a></h5>
             <h5>Already have an account? <a href="#">Sign In.</a></h5>
         </div>--->
    </div>

