@{
    ViewBag.Title = "AllyHub";
    ViewBag.Subtitle = "A Platform for Job Seekers";
}
@model ALlyHub.Models.Search


<link rel="stylesheet" href="~/Content/index.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Hero Section -->
<section id="hero" class="hero section">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
                <h1 class="">Better Solutions For Your Business</h1>
                <p class="">Connecting Idea with Innovation.Empowering IT Dreams</p>
                <div class="d-flex">
                    <a href="@Url.Action("Register","Home")" class="btn-get-started">Get Started</a>
                    <button class="btn-watch-video">Watch Now</button>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="~/Images/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>
    <div class="popup-video">
        <span class="close-video">&times;</span>
        <video src="~/Video/AllyHub (1).mp4" muted controls></video>
    </div>
</section>

<!-- /Hero Section -->

<h1 class="title">Search What You Want</h1>
<div class="searchBox">
    @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "d-flex", role = "search" }))
    {
        <div class="select_container">
            <select name="searchType" class="searchtype" required>
                <option value="" disabled selected>Options</option> <!-- Placeholder option -->
                <option value="Developers">Developers</option> <!-- Match case with controller -->
                <option value="Projects">Projects</option> <!-- Match case with controller -->
            </select>
            
        </div>
        <div class="searchInput">
            @Html.TextBox("queryText", null, new { @class = "search", placeholder = "Search" })
            <button type="submit" class="srchbtn">
                <i class="fa fa-search"></i>
            </button>
        </div>


    }

</div>


<!-- About Section -->
<section class="work-game">
    <div class="content">
        <div class="image">
            <img src="~/Images/job-offer.gif" alt="Job Posting Illustration">
        </div>
        <div class="info">
            <h1>Scale Up your work , it's easy</h1>
            <ul>
                <li>
                    <span class="icon"><i class="fa-solid fa-pen-to-square"></i></span>
                    <div>
                        <h2>No cost to join</h2>
                        <p>Register and browse professionals, explore projects, or even book a consultation.</p>
                    </div>
                </li>
                <li>
                    <span class="icon"><i class="fa-solid fa-thumbtack"></i></span>
                    <div>
                        <h2>Post a job and hire top talent</h2>
                        <p>Finding talent doesn't have to be a chore. Post a job or we can search for you!</p>
                    </div>
                </li>
                <li>
                    <span class="icon"><i class="fa-solid fa-medal"></i></span>
                    <div>
                        <h2>Work with the best—without breaking the bank</h2>
                        <p>Upwork makes it affordable to up your work and take advantage of low transaction rates.</p>
                    </div>
                </li>
            </ul>
            <div class="buttons">
                <a href="@Url.Action("Register","Home")" class="btn primary">Sign up for free</a>
                <a href="#" class="btn secondary">Learn how to hire</a>
            </div>
        </div>
    </div>
</section>

<!-------------------Catagories------------->
<section class="browse-talent">
    <h1>Browse talent by category</h1>
    <p>Looking for work? <a href="#">Browse jobs</a></p>
    <div class="categories">
        <div class="category">
            <p>Development & IT</p>
            <span>⭐ 4.85/5</span>
            <span>1853 skills</span>
        </div>
        <div class="category">
            <p>AI Services</p>
            <span>⭐ 4.8/5</span>
            <span>294 skills</span>
        </div>
        <div class="category">
            <p>Design & Creative</p>
            <span>⭐ 4.91/5</span>
            <span>968 skills</span>
        </div>
        <div class="category">
            <p>Sales & Marketing</p>
            <span>⭐ 4.77/5</span>
            <span>392 skills</span>
        </div>
        <div class="category">
            <p>Writing & Translation</p>
            <span>⭐ 4.92/5</span>
            <span>505 skills</span>
        </div>
        <div class="category">
            <p>Admin & Customer Support</p>
            <span>⭐ 4.77/5</span>
            <span>508 skills</span>
        </div>
        <div class="category">
            <p>Finance & Accounting</p>
            <span>⭐ 4.79/5</span>
            <span>214 skills</span>
        </div>
        <div class="category">
            <p>Engineering & Architecture</p>
            <span>⭐ 4.85/5</span>
            <span>650 skills</span>
        </div>
    </div>
</section>
<!-- /About Section -->
<!-----------------Why Choose us---------------------->
<div class="container whychooseus">
    <div class="text-center mb-2-8 mb-lg-6">
        <h2 class="display-18 display-md-16 display-lg-14 font-weight-700">Why choose <strong class="font-weight-700" style="color: #135D66">Us</strong></h2>
        <span>The trusted source for why choose us</span>
    </div>
    <div class="row align-items-center">
        <div class="col-sm-6 col-lg-4 mb-2-9 mb-sm-0">
            <div class="pr-md-3">
                <div class="text-center text-sm-right mb-2-9">
                    <div class="mb-4">
                        <img src="~/Images/communications.gif" alt="..." class="rounded-circle">
                    </div>
                    <h4 class="sub-info">Flexible Interactions</h4>
                    <p class="display-30 mb-0">A dedicated networking platform for clients and developers to connect and collaborate.</p>
                </div>
                <div class="text-center text-sm-right">
                    <div class="mb-4">
                        <img src="~/Images/collaboration.gif" alt="..." class="rounded-circle">
                    </div>
                    <h4 class="sub-info">Seamless Collaboration</h4>
                    <p class="display-30 mb-0">Tools to facilitate smooth project management and teamwork.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-none d-lg-block">
            <div class="why-choose-center-image">
                <img src="~/Images/Why_choose_us.jpg" alt="..." class="center-circle">
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="pl-md-3">
                <div class="text-center text-sm-left mb-2-9">
                    <div class="mb-4">
                        <img src="~/Images/work.gif" alt="..." class="rounded-circle">
                    </div>
                    <h4 class="sub-info">Transparent Work Histories</h4>
                    <p class="display-30 mb-0">Track and display your project contributions and client feedback.</p>
                </div>

                <div class="text-center text-sm-left">
                    <div class="mb-4">
                        <img src="~/Images/payment-app.gif" alt="..." class="rounded-circle">
                    </div>
                    <h4 class="sub-info">Secure Payments</h4>
                    <p class="display-30 mb-0">Reliable payment system ensuring timely and hassle-free transactions.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Faq 2 Section -->
<section id="faq-2" class="faq-2 section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2 class="text-center">Discover Everything You Need to Know</h2>
        <p class="text-center">Dive into our comprehensive FAQ section where we've gathered answers to your most pressing questions. Whether you're a client looking to connect with top-notch developers or a developer in search of exciting projects, our FAQs are designed to help you navigate and thrive on AllyHub.</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-10">

                <div class="faq-container">

                    <div class="faq-item faq-active" data-aos="fade-up" data-aos-delay="200">
                        <i class="fa-solid fa-circle-question faq-icon"></i>
                        <h3>How do I create an account on AllyHub?</h3>
                        <div class="faq-content">
                            <p>To create an account on AllyHub, click on the "Sign Up" button on the homepage. Fill in your details, choose your user type (Client or Developer), and follow the instructions to complete the registration process. Once registered, you can start exploring the platform and connecting with other users.</p>
                        </div>
                        <i class="fa-solid fa-chevron-right faq-toggle"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item" data-aos="fade-up" data-aos-delay="300">
                        <i class="fa-solid fa-circle-question faq-icon"></i>
                        <h3>What types of projects can I find on AllyHub?</h3>
                        <div class="faq-content">
                            <p>AllyHub features a wide range of projects across various industries and technologies. Whether you're looking for web development, mobile app development, data science, or any other type of technical project, you'll find opportunities that match your skills and interests.</p>
                        </div>
                        <i class="fa-solid fa-chevron-right faq-toggle"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item" data-aos="fade-up" data-aos-delay="400">
                        <i class="fa-solid fa-circle-question faq-icon"></i>
                        <h3>How does AllyHub ensure secure transactions?</h3>
                        <div class="faq-content">
                            <p>AllyHub uses a reliable payment gateway to handle all transactions securely. We implement robust security measures to protect your financial information and ensure that payments between clients and developers are safe and secure.</p>
                        </div>
                        <i class="fa-solid fa-chevron-right faq-toggle"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item" data-aos="fade-up" data-aos-delay="500">
                        <i class="fa-solid fa-circle-question faq-icon"></i>
                        <h3>How can I build my profile and reputation on AllyHub?</h3>
                        <div class="faq-content">
                            <p>On AllyHub, you can build your profile by showcasing your skills, experience, and previous work. Completing projects successfully and receiving positive feedback from clients will enhance your reputation. Engaging with the community and participating in discussions can also help you establish yourself as a reputable professional on the platform.</p>
                        </div>
                        <i class="fa-solid fa-chevron-right faq-toggle"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item" data-aos="fade-up" data-aos-delay="600">
                        <i class="fa-solid fa-circle-question faq-icon"></i>
                        <h3>How can I trust the developers or clients on AllyHub?</h3>
                        <div class="faq-content">
                            <p>AllyHub employs a thorough vetting process for both developers and clients, including background checks and reviews. Additionally, our rating and feedback system ensures that you can see the experiences of others before making any commitments, fostering a trustworthy and transparent community.</p>
                        </div>
                        <i class="fa-solid fa-chevron-right faq-toggle"></i>
                    </div><!-- End Faq item-->

                </div>

            </div>

        </div>

    </div>

</section>
<!-- /Faq 2 Section -->

<script>
    /**
   * Frequently Asked Questions Toggle
   */
    document.querySelectorAll('.faq-item h3, .faq-item .faq-toggle').forEach((faqItem) => {
        faqItem.addEventListener('click', () => {
            faqItem.parentNode.classList.toggle('faq-active');
        });
    });

    document.addEventListener('DOMContentLoaded', (event) => {
        const watchButton = document.querySelector('.btn-watch-video');
        const popupVideo = document.querySelector('.popup-video');
        const closeVideo = document.querySelector('.close-video');
        const videoElement = popupVideo.querySelector('video');

        watchButton.addEventListener('click', () => {
            popupVideo.style.display = 'flex';
            document.body.style.overflow = "hidden";
            videoElement.play();
        });

        closeVideo.addEventListener('click', () => {
            popupVideo.style.display = 'none';
            document.body.style.overflow = "auto";
            videoElement.pause();
            videoElement.currentTime = 0;
        });

        popupVideo.addEventListener('click', (event) => {
            if (event.target === popupVideo) {
                popupVideo.style.display = 'none';
                videoElement.pause();
                videoElement.currentTime = 0;
            }
        });
    });

    window.document.onkeydown = function (e) {
        if (!e) {
            e = event;
        }
        if (e.keyCode == 27) {
            lightbox_close();
        }
    }
</script>
<script src="~/Content/swiper-bundle.min.js"></script>